<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div>
        <h1>Blogs</h1>
        <h2>dynamic content</h2>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>